* {
	box-sizing: border-box;
	margin: 0;
}
body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
h1 {
	text-transform: uppercase;
}
main {
	height: 95vh;
	width: 100%;
	max-width: 600px;
	border: 1px solid;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	/* justify-content: center; */
	align-items: center;
	padding: 20px;
}
#startBtn {
	padding: 10px 20px;
	border-radius: 12px;
	background-color: #000;
	color: #fff;
	border: none;
	cursor: pointer;
}
.game_board {
	width: 300px;
	height: 300px;
	/* aspect-ratio: 1/1; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}
.cell {
	border: 1px solid;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease-in-out;
}
.cell > p {
	font-size: 84px;
}
.cell:nth-child(-n + 3) {
	border-top: none;
}
.cell:nth-child(3n) {
	border-right: none;
}
.cell:nth-child(3n-2) {
	border-left: none;
}
.cell:nth-child(n + 7) {
	border-bottom: none;
}
.cell:hover {
	background-color: aliceblue;
}
.score {
	margin-top: auto;
}
.connect_w_me {
	border: 1px solid;
	width: 50px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: all 0.2s ease-in-out;
}
.connect_w_me:hover {
	background-color: aliceblue;
	transform: scale(1.1) translateY(-5px);
}
